# Virtual environment
en/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3

# Environment variables
.env

# Media files
media/


# Static Files
staticfiles/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env.vercel